body {
    margin : 0;
    background : #f4f1e8;
    color : #173d37;
    font : 16px Arial;
}

header, section, footer {
    padding : 20px;
}

header {
    display : flex;
    justify-content : space-between;
}

nav a {
    margin-left : 20px;
}

a {
    color : #ed7044;
    font-weight : bold;
}

.hero {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.hero div, .hero img {
    width : 50%;
}

.hero img {
    height : 400px;
    object-fit : cover;
}

h1 {
    font-size : 60px;
}

h1 span {
    color : #ed7044;
}

.fietsen {
    display : flex;
    gap : 20px;
}

article {
    width : 33%;
    padding : 20px;
    background : #dce9df;
}

footer {
    background : #173d37;
    color : white;
}
